@font-face {
    font-family: 'Manrope-Medium';
    src: url(../policies/Manrope/static/Manrope-Medium.ttf);
}

@font-face {
    font-family: 'Manrope-Bold';
    src: url(../policies/Manrope/static/Manrope-Bold.ttf);
}

$background-color: hsl(210, 46%, 95%);
$bold-color: hsl(217, 19%, 35%);
$article-color: hsl(214, 17%, 51%);

body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Manrope-Medium', sans-serif;
    font-size: 13px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $background-color;
    .article {
        display: flex;
        flex-direction: row;
        max-width: 900px;
        max-height: 500px;
        .article__image {
            width: 45%;
            height: 350px;
            background-image: url(../images/drawers.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 100%;
            border-radius: 10px 0px 0px 10px;
        }
        .article__text {
            width: 50%;
            background-color: white;
            border-radius: 0px 10px 10px 0px;
            padding: 30px;
            h1 {
                font-family: 'Manrope-Bold', sans-serif;
                color: $bold-color;
            }
            p {
                color: $article-color;
                font-size: 16px;
            }
            .article__text__author {
                align-items: center;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .avatar {
                    border-radius: 300px;
                }
                .share {
                    background: $background-color;
                    border-radius: 300px;
                    padding: 10px;
                    margin-top: 10px;
                }
                .article__text__author__text {
                    display: flex;
                    flex-direction: column;
                    line-height: 0.3;
                    margin-left: -180px;
                    .author {
                        color: $bold-color;
                    }
                    .date {
                        color: $article-color;
                        font-size: 14px;
                    }
                }
            }
            
        }
    }
    @media (max-width: 900px) {
        .article {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-width: 80%;
            max-width: 90%;
            max-height: 80%;
            .article__image {
                min-width: 98%;
                min-height: 40%;
                background-image: url(../images/drawers.jpg);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: 50% 100%;
                border-radius: 10px 10px 0px 0px;
            }
            .article__text {
                text-align: center;
                min-width: 80%;
                background-color: white;
                border-radius: 0px 0px 0px 0px;
                padding: 30px;
                h1 {
                    font-family: 'Manrope-Bold', sans-serif;
                    color: $bold-color;
                }
                p {
                    color: $article-color;
                    font-size: 16px;
                }
                .article__text__author {
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .avatar {
                        border-radius: 300px;
                    }
                    .share {
                        background: $background-color;
                        border-radius: 300px;
                        padding: 10px;
                        margin-top: 10px;
                    }
                    .article__text__author__text {
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        line-height: 0.3;
                        margin-left: 0px;
                        .author {
                            color: $bold-color;
                        }
                        .date {
                            color: $article-color;
                            font-size: 14px;
                        }
                    }
                }
                
            }
        }
    }
}

.share__bubble {
    position: relative;
    left: 428px;
    bottom: 165px;
    align-items: center;
    font-size: 12px;
    font-family: 'Manrope-Bold', sans-serif;
    color: hsl(212, 23%, 69%);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: 230px;
    text-align: center;
    background-color: $bold-color;
    padding-top: 15px;
    padding-bottom: 15px;

    span {
        padding-right: 30px;
    }
    img {
        padding-right: 15px;
        position: relative;
        left: 10px;
    }
}
@media (max-width: 900px) {
    .share__bubble {
        position: relative;
        left: 0px;
        bottom: 15px;
        align-items: center;
        font-size: 12px;
        font-family: 'Manrope-Bold', sans-serif;
        color: hsl(212, 23%, 69%);
        border-radius: 10px 10px 10px 10px;
        display: flex;
        justify-content: center;
        width: 100%;
        text-align: center;
        background-color: $bold-color;
        padding-top: 15px;
        padding-bottom: 15px;
    
        span {
            padding-right: 30px;
        }
        img {
            padding-right: 15px;
            position: relative;
            left: 10px;
        }
    }
}

.undisplayed {
    display: none;
}

.activeState {
    background: $bold-color;
}
















.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }